@import "colours";

.socialaccount_ballot {
  padding-top: 25px;
  padding-bottom: 25px;
}

.or-text {
  font-weight: bold;
}

.form-button {
  margin-bottom: 20px;
  width: 80%;
  align-self: center;
}

.error-spacing {
  margin-top: 25px;
  margin-bottom: 15px;
}

.no-error-spacing {
  margin-top: 10px;
}

.reset-div {
  margin-top: 10px;
}

.reset-div p:last-child {
  margin-top: 20px;
}

.auth-field {
  margin-bottom: 20px;
  width: 100%
}

.login-password input[type=password]{
  margin-bottom: 10px;
}

.auth-field input:not([type=checkbox]) {
  display: block;
  width: 100%;
}

.errorlist {
  list-style: none;
}

.auth-field .errorlist {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 5px;
}

.required::after {
  content: ' *';
  color: red;
}

.input-width-auto label.required::after{
  content: '';
}

.auth-field input {
  padding: 10px 15px;
  border: 1px solid black;
}

.remember-field, .remember-field input[type=checkbox]{
  vertical-align: -2px;
}