table{
  width:100%;
  text-align: center;
  word-break: break-all;
}

table tr:first-child td{
  border: 1px solid #ba0c2f;
  font-weight: bold;
}

table td{
  border:1px solid #6c757d;
}

table td:not(:last-child){
  border-right: 1px solid #dee2e6
}