{% extends "./base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block container_content %}
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    <div class="socialaccount_ballot">
        <div class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    <span class="or-text">OR</span>

    <form class="auth-form d-flex flex-column" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="form-button btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <div>
            <span>Don't have an account?</span>
            <a href="{{ signup_url }}">Sign Up</a>
        </div>
    </form>
{% endblock %}