{% load socialaccount %}

{% get_providers as socialaccount_providers %}

<!-- open id part is unused but copied from https://github.com/pennersr/django-allauth/blob/master/allauth/templates/socialaccount/snippets/provider_list.html
nonetheless for future use -->
{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                   href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                >{{ brand.name }}</a>
            </li>
        {% endfor %}
    {% endif %}

    <a title="Continue with {{ provider.name }}"
       class="btn btn-outline-primary social_button rounded-0 socialaccount_provider {{ provider.id }}"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Continue
        with {{ provider.name }}</a>
{% endfor %}