{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}
{% load compress %}

{% block styles %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/tools.scss' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <div class="mb-1">

                <div class="d-flex flex-column">
                    <h3>Private Tools</h3>
                    <a class="align-self-end" href="/portal/add">Add private tool</a>
                </div>
                {% if private %}
                    <table>
                        <tr>
                            <td>Image</td>
                            <td>Tool Name</td>
                            <td>Findability</td>
                            <td>Accessibility</td>
                            <td>Interoperability</td>
                            <td>Reusability</td>
                            {% if perms.portal.change_pipeline %}
                                <td>Operation</td>
                            {% endif %}
                        </tr>
                        {% for tool in private %}
                            <tr>
                                <td>
                                    <img src="{% static 'imgs/' %}private.png" width=40 height=40>
                                </td>
                                <td>
                                    <a href="private/{{ tool.id }}">{{ tool.tool_name }}</a>
                                </td>
                                <td class="score" score="{{ tool.findability }}">
                                    {{ tool.findability }}%
                                </td>
                                <td class="score" score="{{ tool.accessibility }}">
                                    {{ tool.accessibility }}%
                                </td>
                                <td class="score" score="{{ tool.interoperability }}">
                                    {{ tool.interoperability }}%
                                </td>
                                <td class="score" score="{{ tool.reusability }}">
                                    {{ tool.reusability }}%
                                </td>
                                {% if perms.portal.change_pipeline %}
                                    <td>
                                        <div class="col-1 mt-1 mb-1"><a href="add/{{ tool.id }}">Add to Pipeline</a>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="row border">
                        <div class="col mt-1 mb-1">You do not have any private tools.</div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="d-flex flex-column">
            <h3>{{ private|yesno:"Public," }} Tools</h3>
            {% if perms.portal.add_tool %}
                <a class="align-self-end" href="/portal/add">Add {{ private|yesno:"public," }} tool</a>
            {% endif %}
        </div>

        <table>
            <tr>
                <td>Image</td>
                <td>Tool Name</td>
                <td>Findability</td>
                <td>Accessibility</td>
                <td>Interoperability</td>
                <td>Reusability</td>
                {% if user.is_authenticated and perms.portal.change_pipeline %}
                    <td>Operation</td>
                {% endif %}
            </tr>
            {% for tool in tools %}
                <tr>
                    <td>
                        <img src="{% static 'imgs/' %}{{ tool.tool.tool_name | lower }}.png" width=40 height=40>
                    </td>
                    <td>
                        <a href="details/{{ tool.tool_id }}">{{ tool.tool.tool_name }}</a>
                    </td>
                    <td class="score" score="{{ tool.findability }}">
                        {{ tool.findability }}%
                    </td>
                    <td class="score" score="{{ tool.accessibility }}">
                        {{ tool.accessibility }}%
                    </td>
                    <td class="score" score="{{ tool.interoperability }}">
                        {{ tool.interoperability }}%
                    </td>
                    <td class="score" score="{{ tool.reusability }}">
                        {{ tool.reusability }}%
                    </td>
                    {% if user.is_authenticated and perms.portal.change_pipeline %}
                        <td>
                            <a href="add/{{ tool.tool_id }}">Add to Pipeline</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <br/>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        $('.score').each(function () {
            var value = $(this).attr('score');
            console.log(value);
            var hue = ((0 + (value / 100)) * 120).toString(10);
            this.style.backgroundColor = ["hsl(", hue, ",100%,50%)"].join("");
        });

    </script>

{% endblock %}