{% extends 'layouts/base.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}
    <div class="container">
            <p>Publication name:</p>
            <form method=POST>{% csrf_token %}
                <input type=text name=name placeholder="Name">
                <input type=text name=author placeholder="Author/s">
                <input type=text name=link placeholder="Link">
                <br>
                <br>
                <input class="btn btn-outline-primary rounded-0" type=submit value=Submit>
            </form>
    </div>
{% endblock %}
