{% load static %}
<nav class="navbar navbar-light navbar-expand-lg sticky-top navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src=" {% static 'imgs/umcrest.png' %}" id="umcrest"
             alt="Portal">
        Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'home' in request.resolver_match.url_name %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if 'tools' in request.resolver_match.url_name %} active {% endif %}">
                <a class="nav-link" href="{% url 'tools' %}">Tools <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if 'pipelines' in request.resolver_match.url_name %} active {% endif %}">
                <a class="nav-link" href="{% url 'pipelines' %}">Pipelines <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if 'publications' in request.resolver_match.url_name %} active {% endif %}">
                <a class="nav-link" href="{% url 'publications' %}">Publications <span class="sr-only">(current)</span></a>
            </li>
            {% comment %} <li class="nav-item {% if 'about' in request.resolver_match.url_name %} active {% endif %}">
        <a class="nav-link"  href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item {% if 'contact' in request.resolver_match.url_name %} active {% endif %}">
        <a class="nav-link " href="{% url 'contact' %}">Contact</a>
      </li> {% endcomment %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
