{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Title {% endblock %}</title>
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/_university_style.scss' %}">
  {% endcompress %}
</head>
<body>
{% include './_navigation.html' %}
{# Content #}

  {% block content %}
  {% endblock %}


{# js Deps #}
<script src=" {% static 'libs/jQuery/jQuery3.3.1.js' %}"></script>
<script src=" {% static 'libs/popper/popper.js' %}"></script>
<script src=" {% static 'libs/bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>
